# 1. Write a python script to store multiple items in a single variable ( Items are “Java”,“Python”, “SQL”, “C” ) using tuple

In [3]:
a="Java","Python","SQL","C"
type(a)

tuple

# 2. Write a python program to store only one item using tuple.

In [6]:
a=("TOMandJERRY",)
type(a)

tuple

# 3. Write a python program to reverse the tuple

In [7]:
a="Java","Python","SQL","C"
print(a[::-1])

('C', 'SQL', 'Python', 'Java')

# 4. Write a python program to Swap two tuples in Python.

In [19]:
a="Java","Python","SQL","C"
b=("Laptop","Mobile","Computer","Camera")

print(f"After swap the \nValue of a is {a}\nValue of b is {b}")

a,b=b,a #swap the tuples

print(f"After swap the \nValue of a is {a}\nValue of b is {b}")

After swap the
Value of a is ('Java', 'Python', 'SQL', 'C')
Value of b is ('Laptop', 'Mobile', 'Computer', 'Camera')
After swap the
Value of a is ('Laptop', 'Mobile', 'Computer', 'Camera')
Value of b is ('Java', 'Python', 'SQL', 'C')

# 5. Write a python program to check if all items in the tuple are the same.

In [ ]:
a="Java","Python","SQL","C"
print(["Yes" if a.count(input()) >0 else "False"])

# 6. Write a python program to divide the tuple into four variables. tuple1=(100, 200, 300, 400)

In [7]:
tuple1=(100, 200, 300, 400)
a,b,c,d=tuple1
print(a,b,c,d)

100 200 300 400

# 7. Write a python program to copy elements 4 and 5 from the following tuple into a new tuple. tuple1=(1,2,3,4,5,6)

In [9]:
tuple1=(1,2,3,4,5,6)
t=tuple1[3:5]
print(t)

(4, 5)

In [34]:
tu=()

# 8. Write a python program to Sort a tuple of tuples by the second item. tuple1 = (('a', 21),('b', 37),('c', 11), ('d',29))

In [72]:
tuple1 = (('a', 21),('b', 37),('c', 11), ('d',29))

a=[]
answer=[]
    
for i in range(len(tuple1)):
    a.append(tuple1[i][1])

a.sort()
b=tuple(a)
for i in range(len(tuple1)):
    for j in range(len(tuple1)):
        if (tuple1[j][1]==b[i]):
            answer.append(tuple1[j])

print(answer)

('c', 11)
('a', 21)
('d', 29)
('b', 37)
[('c', 11), ('a', 21), ('d', 29), ('b', 37)]

# 9. Write a python program to print the value 20 from given nested tuple. tuple1 = ("Python", [10, 20, 30], (2, 4, 16))

In [75]:
tuple1 = ("Python", [10, 20, 30], (2, 4, 16))
print(tuple1[1][1])

20

# 10. Write a python program to change the first item (22) of a list within the following tuple to 222.    tuple1 = (11, [22, 33], 44, 55)

In [79]:
tuple1 = (11, [22, 33], 44, 55)
a=list(tuple1)
a[1][0]=222
print(a)

[11, [222, 33], 44, 55]